apiVersion: v1
kind: Service
metadata:
  name: rvce
spec:
  selector:
    app: rvce # This should match the labels in your Deployment
  ports:
    - protocol: TCP
      port: 9090 # The port on which the Service will listen
      targetPort: 3000 # The port your React app is listening on inside the pods
  type: LoadBalancer # Change this to NodePort or LoadBalancer if needed
